 * {
    /* box-sizing: border-box; */
 }

body {
    padding: 0;
    margin: 0;
    /* background-color: rgb(254, 254, 255); */
}


.header {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(239, 239, 243); */
    /* background-color: rgb(254, 254, 255); */

    height: 40px;
    box-sizing: border-box;
    /* margin-bottom: 10px; */
    max-width: 640px;
    width: 100%;
}

.user-btn {
    width: 24px;
    height: 24px;
    background-color: #0d1f2d;
    border-radius: 15px;
    border-width: 1px;
}
.auth-btn {
    border-radius: 10px;
    border-width: 1px;
    background-color: #0d1f2d;
    color: white;
}

.header-content {
    display: flex;
    /* background-color: rgb(239, 239, 243); */
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.groups {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    width: 100%;
    width: 640px;
}

.group {
    width: 60px;
    height: 30px;
    background-color: #6E7BF2;
    border-radius: 4px;
    border-radius: 4px 4px 0px 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: small;  
    color: #ffffff; 
}

.username {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #9192ce;
    min-height: calc(100vh - 40px);
    box-sizing: border-box;

}

.page-content {
    background-color: rgb(239, 239, 243);
    /* margin: 10px; */
    width: 640px;
    box-sizing: border-box;
}

.btns {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.unit-context {
    background-color: transparent;
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    box-sizing: border-box;
    /* border-radius: 4px; */
    /* border-width: 2px; */
    /* border-color: rgb(12, 12, 12); */
    padding: 0 20px;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(231 231 231)
}

.select-all-checkbox {
    margin-left: 20px;
}

.units-list-container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* border-radius: 20px; */
    box-sizing: border-box;
    padding: 3px 0 16px;
}

.unit-left-toolbar {
    display: flex;
    align-items: center;
    gap: 4px;
}


.separator {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.unit-right-toolbar {
    display: none;
}

.dictionary-title {
    align-self: left;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.train-btn {
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.form-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main-container {
    /* padding: 20px; */
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.delete-btn {
    border-radius: 20px;
    border-width: 0.6px;
        /* background: #ccc url('../images/delete-24.png') no-repeat top left; */
    height: 36px;
    background-color: #90e477;    
}

.delete-btn-img {
    width: 100%;
    height: 24px;
    transform: translateY(0.06rem);
}

.form-tools-header-2 {
    border: solid;
    border-width: 1px;
    border-color: #353535;
    height: 40px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 0 2px;
    justify-content: space-between;

    display: none;
}

.select-all-btn {
    background-color: transparent;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 36px;
    border-radius: 20px;
    margin-left: 4px;

}

.original-text {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-weight: medium; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    font-weight: 500;
    font-size: 1.2rem;
    color: #6f9283;
    padding-left: 14px;
    transform: translateY(-0.09rem);
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Muli', sans-serif; */

  }

.translation-text {
    font-family: 'Lato', sans-serif;
}

.unit-checkbox {
    border-radius: 0.5em;    
    border-color: #b3d7ff;
    border-width: 2px;
    border-style: inset;
    color: #6E7BF2;
    --active-tick: #ffffff;
    background: #6E7BF2;
    margin: 0;
}
.unit-checkbox + label {
    width: 14px;
    height: 14px;
    /* background: #6E7BF2; */
}





  

0d1f2d,6f9283,c2f261,f1edee,76818e

    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);