body {
    padding: 0;
    margin: 0;
}
.translation-context {
    background-color: #CDFEAA;
    width:100%;
    padding-left: 10px;
    width: 300px;
}

.translation-container {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}