<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script defer src="/js/dictionary.js"></script>
</head>
<body>
    
    <header class="header">
    <!--    <div>Dictionary</div>-->
        <div class="header-content">
            <!-- <span class="username">Sonya</span> -->
            <h3 class="dictionary-title">MY DICTIONARY</h3>
                    <!-- <h3 class="separator">/</h3> -->
                    <div>
                        <button value="user" name="logout" class="user-btn"></button>
                    </div>
        </div>
    </header>

    
    <main class="main">


        <div class="groups">
            <div class="group">
                <span class="group-text">nouns</span>
            </div>
            <div class="group">
                <span class="group-text">verbs</span>
            </div>
            <div class="group">
                <span class="group-text">adjective</span>
            </div>
        </div>
        <div class="page-content">
            <form method="POST" action="/dictionary/test" class="main-container">
                
                <div class="form-header">
                    <!-- <h3 class="dictionary-title">MY DICTIONARY</h3> -->
                    <!-- <h3 class="separator">/</h3> -->
                    
                </div>

                <div class="form-tools-header-2">
                    <button class="select-all-btn">Select all</button>
                    <button type="submit" value="delete" name="delete" class="delete-btn">
                        <img class="delete-btn-img" src="../images/delete2-24.png"/>
                    </button>
                    <!-- <button type="submit" value="delete" class="delete-btn"> -->
                </div>

                <div class="form-header">
                    <input id="checkbox-select-all" type="checkbox" class="select-all-checkbox" name="select-all-btn">
                    <div class="btns">
                        <div>
                            <button value="+" class="train-btn">+</button>
                        </div>
                        <div>
                            <input type="submit" value="delete" name="delete" class="train-btn">
                        </div>
                        <div>
                            <input type="submit" value="train" name="train" class="train-btn">
                        </div>  
                    </div>
                </div>

                <div class="units-list-container">
    

                    <div th:each="translation : ${translations}" class="unit-context">
                        
                        <div class="unit-left-toolbar">
                            <input id="checkbox" type="checkbox" class="unit-checkbox" name="test" th:value="${translation.getId()}" >
                            <!-- <label for="checkbox"> hello </label> -->
                            <span th:text="${translation.getOriginText()}" class="original-text"></span>
                            <span th:text="' - ' + ${translation.getTranslatedText()}" class="translation-text"></span>
                        </div>
            
                        <div class="unit-right-toolbar">
                            <button>Delete</button>
                            <button>Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <a href="/dictionary">back</a>

</body>
</html>