<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

    <form method="POST" action="/dictionary/test" class="translation-container">
        <div>
            <input type="submit" value="train">
        </div>
        <div th:each="translation : ${translations}" class="translation-context">
            <input type="checkbox" name="test" th:value="${translation.getId()}" >
            <span th:text="${translation.getOriginText() + ' - ' + translation.getTranslatedText()}"></span>
            <button>Delete</button>
            <button>Edit</button>
        </div>
    </form>
    <a href="/dictionary">back</a>

</body>
</html>